.personContaner {
  margin: 32px;
}

.personContaner h1 {
  text-align: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  margin: 12px;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 48px;
}

.actions div {
  margin: 10px;
}

.row input {
  border: 0;
  border-bottom: 1px solid;
  font-size: 26px;
  margin: 18px;
}

.row label {
  margin: 18px 18px 0;
}

.irrf {
  color: #333;
}
