.gridContainer {
  margin: 32px;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.titleGrid {
  font-size: 28px;
}

.btnGrid {
  font-size: 28px;
}

.actionsTable {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  cursor: pointer;
}

.edit {
  padding: 2px;
}

.del {
  padding: 2px;
}
