.gridContainer {
  margin: 32px;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.titleGrid {
  font-size: 28px;
}

.btnGrid {
  font-size: 28px;
}
